%h1 Available Appointments

%p Click on the time slot to make a reservation.

%table.tablesorter.table{id: "appointment-list"}
  %thead
    %tr
      %th Grade
      %th Cohort
      %th Day and Time
      %th Appointments Remaining
  %tbody
  - @slots.each do |slot|
    %tr
      %td= slot.grade
      %td= slot.cohort
      - if slot.remaining > 0
        %td= link_to slot.name, url_for(:appointments, :signup, :id => slot.id)
      - else
        %td.error= "#{slot.name} (Full)"
      %td= slot.remaining